.images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-top: 5%;
}

.newImg {
    width: 250px;
    height: 250px;
}

.singleCard {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.rating {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    justify-content: space-between;
}

.titleCard {
    display: flex;
    flex-direction: column;
}

.bookingCard {
    width: 50%;
    display: flex;
    justify-content: center;
}