$top: 0;

.images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.newImg {
    width: 250px;
    height: 250px;
    padding: 10px;
}

.singleCard {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.rating {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 1% 1%;
    margin: 5% 30% 0 0;
    width: 100%;
}

.recensioni {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cosaTroveraiIcons {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.titleCard {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.titlePage {
    display: flex;
    justify-content: space-between;
}

.titlePageIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

.bookingCard {
    display: flex;
    justify-content: center;
    top: 20px;
    position: sticky;
}

.ratingCard {
    top: 520px;
    position: sticky;
}

.doveDormirai {
    display: flex;
    flex-direction: column;
}

.bookAndReviews {
    display: flex;
    flex-direction: column;
    height: 180vh;
    border: 1px solid black;
}