.bookingCard {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    border-radius: 20px;
    color: white;
    width: 25%;
    text-align: center;
}

.prn {
    text-align: left;
    margin-left: 10px;
}

.priceBooking {
    display: flex;
    flex-direction: column;
}

.priceNigths, .priceCleaning, .priceService, .priceTaxes, .priceTotal {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hr {
    width: 100%;
}