@use './variables';
@use './mixins';

body {
    background-color: variables.$background-color;
    font-family: variables.$text-font-ROBOTO;
}

.dark-mode {
    @include mixins.darkMode()
}

.light-mode {
    @include mixins.theme()
}

img {
    height: 50px;
    width: 75px;
}