.searchbarcompatta {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.affitta {
    width: 20%;
}

.search {
    width: 35%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    border-radius: 10px;
}